<html>
<head>
    <meta charset="utf8">
    <title>Document</title>
    <style>
        .field {
            text-decoration: underline;
        }
        .field__error {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <h1>Some Document Title</h1>
        <p>Deliver to <span class="field"><%= name %></span></p>
        <p>Received by <span class="field field__error">need data</span></p>
    </div>
</body>
</html>
